*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login .imagenLogin{
    width: 100%;
}

.login .formulario{
    width: 100%;
    background-color: #fff;
}

.login .formulario img{
    width: 217px;
    height: 37px;
    margin-bottom: 30px;
}

.login .logo, .login form {
    margin: 0 auto;
}

.login form input{
    width: 100%;
    border: none;
    background-color: #f6f6f6;
    height: 42px;
}