<div class="classDetail">
  <div class="row">
    <div class="header col-12">
      <img src="assets/images/logo.png" alt="Logo Neoland" class="logo">
      <div class="btnVolver">
        <p><i class="fa fa-arrow-left"></i>Volver</p>
      </div>
    </div>
  </div>
</div>

<p class="mensajeError parrafoBig">Ups,</p>
<p class="mensajeError parrafoSmall">no ha salido como esperábamos</p>
<div class="image"><img class="img" src="../../assets/images/ClassCards/error-404.png" alt="Imagen Error"></div>