.classDetail{
    padding-top: 54px;
}

.header{
    padding: 0;
    margin-bottom: 73px;
}

.header .logo{
    height: 26px;
}

.header .btnVolver{
    float: right;
    background-color: #444444;
    height: 35px;
    width: 170px;
    border-radius: 100px;
    padding-top: 2px;
    cursor: pointer;
}

.header .btnVolver p{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.lista{
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 24px;
    display: block;
    width: 100%;
    margin-bottom: 37px;
}

.lista span{
    font-weight: 700;
}

.fa{
    padding-right: 5px;
    font-size: 18px;
}

.studentCards{
    padding: 0;
    margin-bottom: 15px;
}