<div class="container classDetail">
  <div class="row">

    <div class="header col-12">
      <img src="assets/images/logo.png" alt="Logo Neoland" class="logo">
      <div class="btnVolver">
        <p [routerLink]="['/']"><i class="fa fa-arrow-left"></i>Volver</p>
      </div>
    </div>

    <p class="lista">Lista de alumnos de <span>Bootcamp Full-Stack. Jul-Sept. Madrid</span></p>

    <app-student-cards class="col-12 studentCards" *ngFor="let card of studentCards" [student]="card"></app-student-cards>

    <div class="col-12 add_student" data-toggle="modal" data-target="#addStudentModal" >
      <p class="plus_course">
        <img src="assets/images/plus.png" class="img-plus"><br>
        Añadir Curso
      </p>
    </div>
  </div>
</div>

<!-- Modal -DNI Adress Phone -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Añadir Curso</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioAddCourse" (ngSubmit)="onSubmitNewCourse()">
          <fieldset id="formulariocrear">
            <label aria-label="name" class="mt-4">Nombre</label>
            <input type="text" class="inputFechaInicio" formControlName="name">

            <label aria-label="surname" class="">Apellido</label>
            <input type="text" class="InputTelefono" formControlName="surname">

            <label aria-label="email" class="">Email</label>
            <input type="text" class="InputTelefono" formControlName="email">

            <label aria-label="dni" class="">DNI</label>
            <input type="text" class="InputTelefono" formControlName="dni">

            <label aria-label="address" class="">Dirección</label>
            <input type="text" class="InputTelefono" formControlName="address">

            <label aria-label="phone" class="">Teléfono</label>
            <input type="text" class="InputTelefono" formControlName="phone">
          </fieldset>
          <div class="text-center mb-3">
            <input type="submit" value="Añadir Alumno" class="Btn text-center mt-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>