<div class="container classDetail">
  <div class="row">

    <div class="header col-12">
        <img src="assets/images/logo.png" alt="Logo Neoland" class="logo">
        <div class="btnVolver">
          <p [routerLink]="['/']"><i class="fa fa-arrow-left"></i>Volver</p>
        </div>
    </div>

    <p class="lista">Lista de alumnos de <span>Bootcamp Full-Stack. Jul-Sept. Madrid</span></p>

    <app-student-cards  class="col-12 studentCards" *ngFor="let card of studentCards" [student]="card"></app-student-cards>

  </div>
</div>