<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <img src="assets/images/logo.png" class="screenprofesor">
      <div class="btnVolver" (click)="logout()">
        <p>Salir</p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-3 col-sm-6 col-xs-12 mt-5" *ngFor="let clase of classes">
      <app-class-cards [clase]="clase"></app-class-cards>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 add_course text-center mt-5" data-toggle="modal" data-target="#addCourseModal"
      *ngIf="user?.type === '0'">
      <div class="add_course_container">
        <p class="plus_course">
          <img src="assets/images/plus.png" class="img-plus"><br>
          Añadir Curso
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Añadir Curso</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioAddCourse" (ngSubmit)="onSubmitNewCourse()">
          <fieldset id="formulariocrear">
            <label aria-label="nombre" class="LabelNombre">Curso</label>
            <select class="input" formControlName="tipo">
              <option *ngFor="let group of groups" [value]="group.idgroups">{{group.name}} / {{group.description}}</option>
            </select>

            <label aria-label="categoria" class="mt-4">Escuela</label>
            <select class="input" formControlName="escuela">
              <option *ngFor="let escuela of escuelas" [value]="escuela.idescuela">{{escuela.name}}</option>
            </select>

            <label aria-label="telefono" class="mt-4">Fecha Inicio</label>
            <input type="date" class="inputFechaInicio" placeholder="Fecha de inicio del curso" formControlName="fecha_inicio">

            <label aria-label="telefono" class="">Fecha Fin</label>
            <input type="date" class="InputTelefono" placeholder="Fecha de finalización del curso" formControlName="fecha_fin">

            <label aria-label="categoria" class="">Profesor</label>
            <select class="input" formControlName="profesor">
              <option *ngFor="let profesor of teachers" [value]="profesor.idusers">{{profesor.name}}
                {{profesor.surname}}</option>
            </select>
          </fieldset>
          <div class="text-center mb-3">
            <input type="submit" value="Añadir Curso" class="Btn text-center mt-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
